<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>[dc + vue] Multiline with filters</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vue-multiselect/2.1.6/vue-multiselect.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/3.2.1/dc.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-slider-component@3.1.1/theme/default.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-slider-component@3.1.1/dist/vue-slider-component.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-multiselect/2.1.6/vue-multiselect.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.5.2/crossfilter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.2.1/dc.js"></script>

    <style>
      #temp-range-chart g.y {
        display: none;
      }
      .custom {
        overflow: visible !important;
      }
      .box {
        overflow: visible !important;
      }
    </style>
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation">
      <div class="navbar-center navbar-brand">
        <h2 class="title is-4 navbar-item">Domestic Temperature Monitoring - EDA</h2>
      </div>
    </nav>
    <div id="app">
      <br>
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
            <div class="card">
              <div class="card-content">
                <div class="field">
                  <label class="label">Attributes to monitor</label>
                  <div class="control">
                    <label class="radio">
                      <input type="radio"
                             name="temp"
                             value="temp"
                             v-model="filters.attr" checked>
                      Temperature
                    </label>
                    <label class="radio">
                      <input type="radio"
                             name="humidity"
                             value="humidity"
                             v-model="filters.attr">
                      Humidity
                    </label>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Wind Speed:
                    <span class="has-text-primary">{{filters.wind.value[0]}} to {{filters.wind.value[1]}}</span>
                  </label>
                  <div class="control">
                    <vue-slider
                      v-model = 'filters.wind.value'
                      :min = 'filters.wind.min'
                      :max = 'filters.wind.max'
                      :process-style="{ 'backgroundColor': '#00D1B2' }"
                      @drag-end="onWindChange"
                    ></vue-slider>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Select weekday(s)</label>
                  <!-- <div class="control custom">
                    <multiselect
                      v-model = "filters.week.day"
                      :options="filters.week.dayNames"
                      :multiple="false"
                      :close-on-select="false"
                      :clear-on-select="false"
                      :preserve-search="true"
                      :show-labels="false"
                      placeholder="Select Options"
                      :preselect-first="true"
                      label="name"
                      track-by="num">
                      <template slot="selection" slot-scope="{ values, search, isOpen }">
                        <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
                          {{ values.length }} options selected</span>
                      </template>
                    </multiselect>
                  </div> -->
                  <div class="select">
                    <select v-model = "filters.week.day">
                      <option v-for = "day in filters.week.dayNames"
                              :value = "day.num" :key="day.num"> {{ day.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div id="temp-multiline-timeseries" ref="tempMonitorComposite"></div>
            <div id="temp-range-chart" ref="tempMonitorRange"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const dateParser = d3.timeParse('%d-%m-%Y %H:%M'); //  13-03-2012 15:00
      const tempMonitor = {
        data: null,
        dateTimeDimension: null,
        startDate: null,
        endDate: null,
        windDimension: null,
        weekdayDimension: null,
        group: null,
        compositeChart: null,
        seriesChart: null,
        chartGroup: 'temp-humidity'
      };
      const display = {
        'dining_room' : 'Dining Room',
        'living_room' : 'Living Room',
        'dining_room_temp' : 'Dining Room Temperature (°C)',
        'living_room_temp' : 'Living Room Temperature (°C)',
        'dining_room_humidity' : 'Dining Room Relative Humidity (%)',
        'living_room_humidity' : 'Living Room Relative Humidity (%)',
        'outdoor_temp' : 'Outdoor Temperature (°C)',
        'outdoor_humidity' : 'Potdoor Relative Humidity (%)',
        'wind' : 'Wind (m/s)',
        'precipitacion' : 'Proportion of Rain in last 15 minutes',
        'dinning_room_CO2' : 'Dining Room CO2 (ppm)',
        'living_room_CO2' : 'Living Room CO2 (ppm)',
        'temp': 'Temperature (°C)',
        'humidity': 'Humidity (%)'
      };

      new Vue({
        el: '#app',
        components: {
          VueSlider: window['vue-slider-component'],
          // Multiselect: window.VueMultiselect.default
        },
        data() {
          return {
            data: null,
            filters: {
              wind: {
                min: 0,
                max: 5,
                range: null,
                value: [],
              },
              week: {
                days: [],
                dayNames: [],
                day: 0,
              },
              attr: 'temp',
            },
          }
        },
        created() {
          d3.json('domestic_temp_monitoring.csv').then((data) => {
            this.data = data;
            this.prepareWeekNames();
            this.getWindRange();
            this.$nextTick(() => {
              this.onDataChange();
            });
          });
        },
        methods: {
          prepareWeekNames() {
            let weekdays_full = this.data.map(d => d.Day_Of_Week);
            this.filters.week.days = weekdays_full.filter(this.onlyUnique);
            this.filters.week.days.push(0);
            let weekdays = d3.scaleOrdinal()
                                  .domain([0, 1, 2, 3, 4, 5, 6, 7])
                                  .range(['All', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']);
            this.filters.week.days.forEach((day) => {
              this.filters.week.dayNames.push({num: day, name:weekdays(day)});
            });
            // this.filters.week.dayNames.push({num:})
          },

          getWindRange() {
            this.filters.wind.range = d3.extent(this.data.map(d => d.wind)).map(this.returnInt);
            this.filters.wind.min = this.filters.wind.range[0];
            this.filters.wind.max = this.filters.wind.range[1]+1;
            this.filters.wind.value = [this.filters.wind.min, this.filters.wind.max]
          },

          onDataChange() {
            this.initChartData();
            this.applyWindFilter();
            this.applyWeekdayFilter();

            this.initChart();
            dc.renderAll();
          },

          initChartData() {
            tempMonitor.data = crossfilter(this.data);
            tempMonitor.dateTimeDimension = tempMonitor.data.dimension(d => dateParser(d.DateTime));
            tempMonitor.windDimension = tempMonitor.data.dimension(d => +d.wind);
            tempMonitor.weekdayDimension = tempMonitor.data.dimension(d => d.Day_Of_Week);
            tempMonitor.startDate = dateParser(tempMonitor.dateTimeDimension.bottom(1)[0].DateTime);
            tempMonitor.endDate = dateParser(tempMonitor.dateTimeDimension.top(1)[0].DateTime);
            tempMonitor.group = tempMonitor.dateTimeDimension.group().reduce(
              (p, v) => {
                p.weekDay = v.Day_Of_Week;
                p.dining_room_temp += +v.dining_room_temp;
                p.living_room_temp += +v.living_room_temp;
                p.outdoor_temp += +v.outdoor_temp;
                p.forecast_temp += +v.forecast_temp;
                p.dining_room_humidity += +v.dining_room_humidity;
                p.living_room_humidity += +v.living_room_humidity;
                p.outdoor_humidity += +v.outdoor_humidity;
                return p;
              },
              (p, v) => {
                p.dining_room_temp -= +v.dining_room_temp;
                p.living_room_temp -= +v.living_room_temp;
                p.outdoor_temp -= +v.outdoor_temp;
                p.forecast_temp -= +v.forecast_temp;
                p.dining_room_humidity -= +v.dining_room_humidity;
                p.living_room_humidity -= +v.living_room_humidity;
                p.outdoor_humidity -= +v.outdoor_humidity;
                return p;
              },
              () => ({
                dining_room_temp: 0.0,
                living_room_temp: 0.0,
                outdoor_temp: 0.0,
                forecast_temp: 0.0,
                dining_room_humidity: 0.0,
                living_room_humidity: 0.0,
                outdoor_humidity: 0.0,
              }),
            );
          },

          applyWindFilter() {
            if (this.filters.wind.value[0] >= this.filters.wind.min ||
               this.filters.wind.value[1] <= this.filters.wind.max) {
                 tempMonitor.windDimension.filter(this.filters.wind.value);
               } else {
                 tempMonitor.windDimension.filterAll();
               }
          },

          onWindChange() {
            this.applyWindFilter();
            dc.redrawAll();
          },

          applyWeekdayFilter() {
            if (this.filters.week.day !== 0) {
              tempMonitor.weekdayDimension.filter(this.filters.week.day);
            } else {
              tempMonitor.weekdayDimension.filterAll();
            }
            // let filteredDays = [];
            // if (this.filters.week.day == null || this.filters.week.day.length <= 0) {
              // tempMonitor.weekdayDimension.filterAll();
            // } else {
              // this.filters.week.day.forEach((day) => {
              //   filteredDays.push(day.num);
              // });
              // tempMonitor.weekdayDimension.filter(this.filters.week.day);
            // }
          },

          onWeekdayChange() {
            this.applyWeekdayFilter();
            dc.redrawAll();
          },

          initChart() {
            this.drawChart(this.filters.attr);
          },

          drawChart(type) {
            tempMonitor.compositeChart = dc.compositeChart('#temp-multiline-timeseries');
            tempMonitor.seriesChart = dc.seriesChart('#temp-range-chart');
            tempMonitor.compositeChart
              .width(800)
              .height(300)
              .margins({ top: 40, right: 30, bottom: 90, left: 30 })
              .x(d3.scaleTime().domain([tempMonitor.startDate, tempMonitor.endDate]))
              .elasticY(true)
              .yAxisLabel(display[type])
              .legend(dc.legend().x(100).horizontal(true).itemWidth(150).legendWidth(670))
              .renderHorizontalGridLines(true)
              .renderTitle(false)
              .mouseZoomable(true)
              .brushOn(false)
              .rangeChart(tempMonitor.seriesChart)
              .compose([
                dc.lineChart(tempMonitor.compositeChart)
                  .dimension(tempMonitor.dateTimeDimension)
                  .group(tempMonitor.group, 'Dining Room')
                  .valueAccessor(d => d.value[`dining_room_${type}`])
                  .colors('#f77507'),
                dc.lineChart(tempMonitor.compositeChart)
                  .dimension(tempMonitor.dateTimeDimension)
                  .group(tempMonitor.group, 'Living Room')
                  .valueAccessor(d => d.value[`living_room_${type}`])
                  .colors('#9c27b0'),
                dc.lineChart(tempMonitor.compositeChart)
                  .dimension(tempMonitor.dateTimeDimension)
                  .group(tempMonitor.group, 'Outdoor')
                  .valueAccessor(d => d.value[`outdoor_${type}`])
                  .colors('#2196f3'),
              ]);

            tempMonitor.compositeChart.on('pretransition.hideshow', this.legendToggle)
            tempMonitor.compositeChart.xAxis().tickFormat(d3.timeFormat('%d %b - %I %p'));
            tempMonitor.compositeChart.on('renderlet', (chart) => {
              chart.selectAll('g.x text')
                   .attr('transform', 'translate(-25,25) rotate(315)');
            });

            tempMonitor.seriesChart
              .width(800)
              .height(120)
              .margins({ top: 0, right: 30, bottom: 90, left: 45 })
              .x(d3.scaleTime().domain([tempMonitor.startDate, tempMonitor.endDate]))
              .brushOn(true)
              .dimension(tempMonitor.dateTimeDimension)
              .group(tempMonitor.group)
              .seriesAccessor(d => d.value.weekDay)
              .valueAccessor(d => d.value[`outdoor_${type}`]);

            tempMonitor.seriesChart.xAxis().tickFormat(d3.timeFormat('%d %b - %I %p'));
            tempMonitor.seriesChart.on('renderlet', (chart) => {
              chart.selectAll('g.x text')
                   .attr('transform', 'translate(-25,25) rotate(315)');
            });
          },

          onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
          },

          returnInt(element) {
            return parseInt(element, 10);
          },
        },
        watch: {
          ['filters.attr']() {
            this.onDataChange();
          },
          ['filters.week.day']() {
            this.$nextTick(() => {
              this.onWeekdayChange();
            });
          },
          // ['filters.wind.value']() {
          //   this.onWindChange();
          //   this.onDataChange();
          // },
        },
      });
    </script>
  </body>
</html>
